discord.py==0.16.12
pyfiglet
asyncio
praw
utils
json
time
random

urbandictionary (Download from PyPi and then replace urbandictionary.py with the one from the github repo https://github.com/bocong/urbandictionary-py)
